* {
    padding: 0px;
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0% 10%;
    max-width: 800px;
}
.nav {
    background-color: #cccccc;
    min-width: 560px;
}
.navbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
#search {
    width: 40%;
    border: black 2px solid;
    height: 25px;
}
#Login {
    background-color: #2b78e4;
    box-shadow: black 2px 2px;
    padding: 2px 10px;
    color: white;
    min-width: 64.78px;
}
.page {
    display: flex;
}
.left {
    margin-top: 20px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 415.5px;
}
.right {
    flex: 1;
    height: 130px;
    border: black solid;
    margin-top: 20px;
    min-width: 144.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.boxleft {
    border: solid;
    display: flex;
    height: 200px;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: cursive;
}
.leftleft {
    flex: 1;
    text-align: center;
}
.leftright {
    flex: 3;
    text-align: center;
    font-size: 20px;
    margin: 20px 0px;
}
#like {
    margin-top: 10px;
    background-color: #ffd966;
    border: solid 2px;
    box-shadow: black 2px 2px;
    padding: 5px 15px;
}
.topright {
    font-family: cursive;
    font-weight: bold;
}
.bigyou {
    font-size: 20px;
}
#define {
    background-color: #93c47d;
    padding: 5px 15px;
    box-shadow: black 3px 3px;
    font-family: cursive;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}